.right-board{
    width: 85%;
}
.box{
    padding: 0.7rem 2rem;
    background-color: rgb(212, 248, 250);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:900px) {
    .box{
        padding: 0.7rem;
    }
}
@media (max-width:700px) {
    .right-board{
        width: 100%;
    }
    .box{
        padding: 2rem 1rem;
    }
}