.right-board{
    width: 85%;
    position: relative;
}
.menu{
    font-size: 30px;
    display: none;
}
.box{
    padding: 0.7rem 2rem;
    background-color: rgb(212, 248, 250);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:900px) {
    .box{
        padding: 0.7rem;
    }
}
@media (max-width:700px) {
    .right-board{
        width: 100%;
    }
    .box{
        padding: 3rem 1rem;
    }
    .menu{
        position: absolute;
        position:fixed;
        top:10px;
        left:20px;
        z-index: 5;
        display: block;
        cursor: pointer;
    }
    .menu svg{
        color: white;
    }
    .menu .main{
        color:black;
        background-color: rgba(199, 164, 164,0.6);
        padding: 0 4px;
        border-radius: 5px;
    }
    .menu-bar{
        display: block;
        position: absolute;
        position :fixed;
        z-index: 3;
        width: 100%;
    }
}